# Temporary files & Backups
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups/
*-cache*
*-bak*
*~
~*
_autosave-*
#auto_saved_files#
*.tmp
*.lck
*.swp
fp-info-cache
*.history/
production/

# Netlist & Autorouter files
*.net
*.dsn
*.ses

# Exported files (BOM, Outputs)
*.xml
*.csv
*.pdf
*.zip
gerbers/
outputs/

# Local project settings
*.kicad_prl

.DS_Store

